<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.contacts.mapper.EmpMapper">
<update id="updateUserInfo">
    UPDATE employee
    SET phone = #{phone}, email = #{email}
    WHERE emp_id = #{emp_id}
</update>
</mapper>